/*  Chaange the artboard size here  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
:root {
  --width: 100vw;
  --height: 100vh;
  --machine-w: calc(var(--width) * .8);
  --machine-h: 42vh;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  background: #000000;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

h1 {
  color: #aaa;
  margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slot-trigger {
  cursor: pointer;
  margin-bottom: 4rem;
  max-width: 4vw;
}

.base-machine {
  width: var(--machine-w);
  height: var(--machine-h);
  background: -webkit-linear-gradient(top, #d6bb7c 0%, #ddb34e 100%);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 3px #ffcc99, 0px 10px 30px rgba(0, 0, 0, 0.4);
}
.base-machine .base-frame {
  width: calc(var(--machine-w) - 3vw);
  height: calc(var(--machine-h) - 6vh);
  background: -webkit-linear-gradient(top, #111 0%, #333 36%, #222 100%);
  opacity: 1;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: inset 0 0 7px #000;
}
.base-machine .slots {
  width: 72vw;
  height: 18vh;
  background: -webkit-linear-gradient(top, #999 0%, #e8e8e8 15%, #ffffff 50%, #e8e8e8 85%, #999 100%);
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  font-size: 3.8em;
  line-height: 2;
  overflow: hidden;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0.3rem auto;
}

.list li {
  color: #ddb34e;
  text-shadow: 0px 2px 2px #333;
}

span.list {
  height: 1em;
  line-height: 1em;
}

#randomButton {
  background: #ddb34e;
  padding: 1rem;
  border: none;
  border-radius: 0 0 1rem 1rem;
  width: calc(var(--machine-w) - 10vw);
  align-self: center;
  margin-right: 3rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: #333;
}

#randomButton:hover {
  background: #dbab3c;
  cursor: pointer;
}